
html {        
    height: 100%;
    background-color: black;
    color: white;
}

body {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow-x:auto;
}

.container {    
    height: 90vh;
}

.footer {
    height: 10vh;
}

.flex {
    margin: 0 auto;
}

.information {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    text-align: center;    
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-sporty {    
    padding: 12vh 0vh 3vh 0vh;    
    margin-left: auto;    
    margin-right: auto;
}

.btn-img {        
    margin-top: 20vh;
}

.text-center{
    text-align: center;
}

.copyright a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}